vendor
node_modules
.git
.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/**/.gitkeep
docker-compose.yml
.env
.env.backup
*.md
tests
phpunit.xml
docker/worker.Dockerfile
docker/nginx
